@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");


img {
    padding: 1%;
}

body{
    font-family: 'Poppins',sans-serif;
}

#footer-banner{
    margin-top: 20%;
}

.titulo-nav {
    color: #FF4C13;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 1.5em;
    ;
}

.eline img {
    width: 10vw;
}

.size-btn button {
    border-radius: 100%;
    padding: auto;
    border: none;
}

.size-btn button:hover::selection {
    border: solid black 1px;
}

.btn-add {
    text-align: center;
    align-items: center;
    padding: 1px;
    color: white;

    /* black */

    background: #1D1D1D;
    border-radius: 4px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
    transition: all 1ms;
}

.btn-buy {
    /* Auto Layout */

    text-align: center;
    align-items: center;
    padding: 1px;
    margin-top: 1px;


    /* blue */

    background: #4276FB;
    border-radius: 4px;

    /* Inside Auto Layout */

    order: 1;
    flex-grow: 0;
    margin: 2px;
    transition: all 1ms;
    
}


.btn-add:hover{
    background-color: white;
    color: #4276FB;
    transform: scale(1.2);
}

.btn-buy:hover{
    background-color: white;
    color: #1D1D1D;
    
    transform: scale(1.2);
}

@media (max-width:768px) {
    .imgcaru {
        visibility: visible;
    }

    .imgpc {
        visibility: hidden;
        position: absolute;
    }
    .navbar{
        align-items: end;
    }
}


@media (min-width:769px) {
    .imgcaru {
        visibility: hidden;
        position: absolute;
    }

    .imgpc {
        visibility: visible;

    }
}